In [48]:
import pandas as pd

def daily_countries_df():
    daily_df = pd.read_csv("data/daily_report.csv")
    countries_df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]
    countries_df = countries_df.groupby("Country_Region").sum().reset_index()
    return countries_df

daily_countries_df()

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan      51526    2191      41727
1               Albania      58316    1181      33634
2               Algeria      99610    2756      67127
3               Andorra       8049      84       7432
4                Angola      17553     405      11044
..                  ...        ...     ...        ...
186             Vietnam       1465      35       1325
187  West Bank and Gaza     138004    1400     117183
188               Yemen       2099     610       1394
189              Zambia      20725     388      18660
190            Zimbabwe      13867     363      11250

[191 rows x 4 columns]